# Log file
*.log

# IDE settings
.classpath
.project
.vscode
out/*
target/*
bin/*
.settings/*
build/classes/*
build/distributions/*
build/generated/*
build/tmp/*


# theia settings
.theia/
**/.settings/org.eclipse.buildship.core.prefs

# IntelliJ files
**/*.iml
**/.idea
**/.gradle
*.ipr
*.iws
**/out/

# gradle
!gradle/wrapper/*
.gradle
.settings
bin

# Ignore Mac DS_Store files
**/.DS_Store
res/button_bot-invite.png
config.json
/build/
